
<h1>Nick.Lee</h1>

<!DOCTYPE html>
<html>
<body>


<%= form_for @home do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.submit %>
<% end %>


<%= image_tag("beach.png", :size => "300x200") %>

