

<a href="/homes/1">Show Page</a>
<h1>WELCOME TO MY PAGE!!
</h1>

<!DOCTYPE html>
<html>

<body>


<h4>Lets Connect!</h4>
<br/>
<%= form_for @home do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.submit :enter %>
<% end %>



</body>

<br/>
</html>
